# Python bytecode
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/

# Data files
data/
*.csv

# IDE specific files
*.idea/
*.vscode/

# AWS credentials
.aws/

# Logs
*.log
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
venv/
env/
data/
*.csv
*.idea/
*.vscode/
.aws/
*.log
.env
